@import "tailwindcss";

@layer base {
  .layout {
    width: min(1300px, calc(100% - 36px));
    margin-inline: auto;
  }

  @media screen and (max-width: 1300px) {
    .layout {
      width: 100%;
      padding-inline: 18px;
    }
  }

  .layout-nav {
    width: 100vw;
    max-width: 1300px;
    margin-inline: auto;
    position: sticky;
    top: 0;
  }

  section {
    margin-block: 36px;
    min-height: 500px;
    padding: 27px;
  }

  .canva {
    clip-path: polygon(0 0, 100% 2%, 100% 90%, 0 90%);
  }

  .dark * {
    color: white;
  }

  header {
    position: sticky;
    top: 0;
  }

  header li {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
  }

  .menu-mobile li,
  .menu-mobile button {
    margin-top: 9px;
  }

  nav {
    position: relative;
    z-index: 5;
    overflow: hidden;
  }

  nav::before {
    content: "";
    position: absolute;
    width: 105vw;
    height: 100%;
    animation: 1s;
    background-color: #4e84e9;
    z-index: -1;
    bottom: 100%;
    left: 50%;
    translate: -50%;
    border-bottom: 2px solid #363636;
    transition: bottom 0.5s ease-in-out;
  }

  .pos-100::before {
    animation: slideDown 250ms ease-out forwards;
  }

  .invert {
    filter: invert(1) brightness(100);
  }

  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1400px;
    margin-inline: auto;
  }

  /* 3d model */
  .go-3d {
    position: fixed;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    z-index: -1;
  }

  .go-3d::before {
    content: "";
    width: 100vw;
    height: 50vh;
    position: absolute;
    translate: -50% -40%;
    top: 50%;
    left: 50%;
    z-index: -1;
    background: radial-gradient(ellipse, rgba(81, 154, 207, 0.2) 0%, rgba(72, 140, 189, 0.1) 20%, rgba(22, 64, 94, 0) 70%);
  }

  body {
    background-color: #121416;
    color: white;
  }
}
