@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  }

  .layout {
    width: 100%;
  }

  .layout > div {
    width: min(1300px, calc(100% - 36px));
    margin-inline: auto;
  }

  @media screen and (max-width: 1300px) {
    .layout > div {
      width: 100%;
      padding-inline: 18px;
    }
  }

  .layout-nav {
    width: 100%;
    max-width: 1300px;
    margin-inline: auto;
    position: sticky;
    top: 0;
  }

  section {
    margin-block: 36px;
    min-height: 500px;
    padding: 27px;
  }

  header {
    position: sticky;
    top: 0;
  }

  header li {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
  }

  .menu-mobile li,
  .menu-mobile button {
    margin-top: 9px;
    color: #363636;
    font-weight: 700;
  }

  nav {
    position: relative;
    z-index: 5;
    overflow: hidden;
  }

  nav::before {
    content: "";
    position: absolute;
    width: 105vw;
    height: 100%;
    animation: 1s;
    background-color: #4e84e9;
    z-index: -1;
    bottom: 100%;
    left: 50%;
    translate: -50%;
    border-bottom: 2px solid #363636;
    transition: bottom 0.5s ease-in-out;
  }

  .text-gradient {
    background: -webkit-linear-gradient(-45deg, #b83dd3, #41f4ee);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .pos-100::before {
    animation: slideDown 250ms ease-out forwards;
  }

  .ham {
    filter: brightness(0) invert(1);
  }

  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
  }

  /* 3d model */
  .go-3d {
    position: fixed;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: clamp(180px, 30vw, 400px);
    height: clamp(400px, 30vw, 600px);
  }

  .go-3d::before {
    content: "";
    width: 100vw;
    height: 50vh;
    position: absolute;
    translate: -50% -45%;
    top: 50%;
    left: 50%;
    z-index: -1;
    background: radial-gradient(ellipse, rgba(169, 128, 236, 0.2) 0%, rgba(71, 78, 219, 0.1) 20%, rgba(22, 64, 94, 0) 70%);
    filter: blur(10px);
  }

  body {
    background-color: #0c0d0f;
    color: white;
  }
}
