@import "tailwindcss";

.layout {
  width: min(1300px, calc(100% - 18px));
  margin-inline: auto;
}

.layout-nav {
  width: 100vw;
  max-width: 1300px;
  margin-inline: auto;
}

@media screen and (max-width: 768px) {
  .layout {
    width: 100%;
    margin-top: 0px;
  }
}

.dark * {
  color: white;
}

header {
  position: sticky;
  top: 0;
}

header li {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

.menu-mobile li,
.menu-mobile button {
  margin-top: 9px;
}

nav {
  position: relative;
  z-index: 5;
  overflow: hidden;
}

nav::before {
  content: "";
  position: absolute;
  width: 105vw;
  height: 100%;
  animation: 1s;
  background-color: #4e84e9;
  z-index: -1;
  bottom: 100%;
  left: 50%;
  translate: -50%;
  border-bottom: 2px solid #363636;
  transition: bottom 0.5s ease-in-out;
}

@keyframes slideDown {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 0%;
  }
}

.pos-100::before {
  animation: slideDown 250ms ease-out forwards;
}

.invert {
  filter: invert(1) brightness(100);
}
