---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import "../styles/global.css";
---

<div id="container">
	<!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
	<main class="relative">
		<section class="h-dvh"></section>
		<section class="layout h-250 flex flex-col justify-center  bg-[#121416] border-y border-y-white ">
			<div class="flex">
				<div class="w-3/5">
					<p class="text-2xl">
						Lorem ipsumminima accusantium quis delectus adipisci eius ipsa maiores impedit nam molestiae nisi. Tempora officia ab saepe.
					</p>
				</div>
				<div class="w-2/5 pl-20 text-right">
					<h1 class="text-4xl font-black">
						Ciao, Noi siamo la GO.
					</h1>
				</div>
			</div>
		</section>

		<section class="layout flex flex-col justify-center sticky top-0 ">
			<div class="flex justify-between w-full">
				<div class="w-2/5 pr-20">
					<h1 class="text-4xl font-black">
						Ciao, Noi siamo la GO.
					</h1>
				</div>
				<div class="w-3/5 flex justify-end">
					<p class="text-2xl text-right max-w-3xs">
						Lorem ipsumminima accusantium quis denisi. Tempora officia ab saepe.
					</p>
				</div>
			</div>
		</section>
			
		<section class="layout h-300 z-10 flex flex-col justify-center bg-[#152330]  ">
			<div class="flex sticky top-1/2">
				<div class="w-2/5 pr-20">
					<h1 class="text-4xl font-black">
						Ciao, Noi siamo la GO.
					</h1>
				</div>
				<div class="w-3/5">
					<p class="text-2xl text-right">
						Lorem ipsumminima accusantium quis delectus adipisci eius ipsa maiores impedit nam molestiae nisi. Tempora officia ab saepe.
					</p>
				</div>
			</div>
		</section>
	</main>
</div>
